[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/SDL_net"]
	path = lib/SDL_net
	url = https://github.com/libsdl-org/SDL_net.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
